* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  width: 100%;
  height: 100vh;
}

/* Main Nav section styling */
.main-nav {
  background-color: #383838;
  max-width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
}

/* Top left nav styling */
.nav-left {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin: 10px 0 10px 10px;
}

.navlogo img {
  max-width: 60px;
  max-height: 60px;
  margin-right: 10px;
}

.top-nav-left ul {
  display: flex;
  justify-content: space-between;
  align-self: center;
  margin-top: 15px;
  list-style: none;
}

.content2,
.content3,
.content4 li {
  list-style: none;
  margin-top: 10px;
}

.top-nav-left ul li {
  padding-left: 20px;
}

.top-nav-left a {
  text-decoration: none;
  color: #888;
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
}

.highlighted i {
  color: #d35266;
}

.nav-btn {
  color: white;
  background-color: #d35266;
  padding: 5px 5px;
  font-size: 20px;
  border-radius: 5px;
}

/* right nav */
.nav-right {
  display: flex;
  margin-right: 15px;
  max-width: 25%;
  padding-right: 15px;
  justify-content: flex-end;
  align-items: center;
}

.nav-right img {
  max-width: 40px;
  max-height: 40px;
  border-radius: 50px;
  margin-left: 10px;
}

.nav-right p {
  margin-left: 10px;
  color: #888;
}

.nav-right i {
  color: #888;
}

/* Top Banner session */
.top-banner {
  height: 250px;
  background-color: #d35266;
  font-size: 15px;
  align-items: center;
  justify-content: center;
}

.top-banner h1 {
  font-size: 75px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-bottom: 0;
  font-weight: 800;
  line-height: 1.2;
  color: white;
  display: block;
  text-align: center;
}

.top-banner h3 {
  font-size: 30px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-bottom: 15px;
  font-weight: 100;
  color: white;
  display: block;
  text-align: center;
}

.form-container {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;
  height: auto;
}

.form-format input,
select,
button {
  padding: 5px 0;
}

.form-format button {
  padding: 10px;
  background-color: #383838;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 5px;
}

.form-format button a {
  color: #fff;
  text-decoration: none;
}

.search-button {
  border: 2px solid #383838;
  border-radius: 5px;
  padding: 10px 10px;
  color: #fff;
  background: #383838;
  text-decoration: none;
}

/* Index page Body styling */
.items-header {
  display: flex;
  flex-direction: row;
  border-bottom: 2px solid #888;
  margin: 10px 0;
  max-width: 100%;
}

.items-header img {
  float: left;
  margin-left: 20px;
  position: relative;
  max-width: 40px;
  max-height: 40px;
}

.items-header h4 {
  margin-left: 0;
  color: #d35266;
  margin-top: 20px;
}

/* Index page main body */
.barner2 {
  grid-area: 'right-main';
  height: 300px;
  max-width: 100%;
  display: flex;
  margin: auto;
  border: 0.5px solid #888;
  justify-content: center;
}

.frame {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 10px;
  margin-bottom: 20px;
  box-sizing: border-box;
  grid-template-areas: 'img details';
}

.text h4 {
  margin: 20px;
  color: #d35266;
}

.content img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  max-width: 40px;
  max-height: 40px;
}

.image-container img {
  max-width: 100%;
  height: 200px;
  align-items: center;
  justify-items: center;
}

.barner2 .frame img {
  max-width: 70%;
  height: 70%;
  padding: 0;
  margin-left: 20px;
}

.barner .frame .details {
  max-width: 500px;
  height: 240px;
  justify-content: center;
  text-align: justify;
  margin-top: 20px;
}

.container h4 {
  margin-left: 20px;
  color: #383838;
  font-family: Arial, Helvetica, sans-serif;
}

.content h4 {
  color: #d35266;
  text-decoration: underline;
  font-size: 18px;
  box-sizing: border-box;
}

.content1-details h4 {
  color: #d35266;
  text-decoration: underline;
  font-size: 18px;
  box-sizing: border-box;
  max-width: auto;
}

.barner .frame .details h4 {
  color: #d35266;
  margin-bottom: 5px;
  border-bottom: 1px solid #888;
}

.button1 button {
  padding: 10px 60px;
  margin: 20px 30px;
  align-items: flex-end;
  background: #d35266;
  border-radius: 10px;
  color: white;
}

.button1 .hover:hover {
  cursor: pointer;
  color: #888;
}

.title h3 {
  color: #d35266;
  text-align: center;
  margin-bottom: 10px;
  margin-top: 10px;
}

/* Showcase content styling */
.showcase {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  max-width: 100%;
  height: auto;
  margin: 10px 10px;
}

.container {
  border: 0.5px solid #888;
  width: 100%;
  height: auto;
  justify-content: center;
  align-content: center;
  justify-self: center;
  margin-bottom: 20px;
}

.image-container {
  max-width: 100%;
  height: 200px;
  margin: 10px 10px;
}

.lower-items {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin-top: 50px;
  font-size: 20px;
  color: #d35266;
}

.lower-items p {
  color: #d35266;
}

.lower-items .plus-sign {
  border: 1px solid #383838;
  padding: 5px;
  margin-left: 10px;
}

.text p {
  text-align: justify;
  margin-right: 30px;
}

/* search page main container styling */
.main-container {
  display: grid;
  gap: 10px;
  height: auto;
  max-width: 100%;
  margin: auto;
  grid-template-columns: 1fr 6fr;
  grid-template-areas:
  "aside-main search-right-main";
}

/* search page aside styling */
.aside-main {
  grid-area: 'aside-main';
  margin: 10px 0;
  height: auto;
}

.aside {
  margin-top: 20px;
  margin-left: 20px;
}

.checkbox1,
span {
  margin-left: 20px;
  padding: 10px 0;
}

.aside h5 {
  border-bottom: 2px solid #d35266;
}

.title {
  margin-top: 10px;
  width: auto;
}

/* search page right main items */
.search-right-main {
  grid-area: 'search-right-main';
  height: auto;
  box-sizing: border-box;
  border: 1px solid #888;
}

.search-title {
  width: 100%;
  height: auto;
  padding: 10px 0 10px 0;
}

.search-title h3 {
  color: #d35266;
}

.search-content1 {
  height: 280px;
  width: 100%;
  display: flex;
  border: 1px solid #888;
}

.content1-img-frame {
  height: auto;
  max-width: 35%;
  padding: 10px;
}

.search-content1 .content1-img-frame img {
  max-width: 100%;
  height: auto;
}

.content1-details {
  justify-content: center;
  text-align: justify;
  height: auto;
  padding: 10px;
}

.button1 {
  display: flex;
  justify-content: center;
  padding: 10px;
}

/* footer styling */
.footer {
  padding: 10px 0;
}

.container1 {
  display: flex;
  justify-content: space-evenly;
  border-top: 2px solid #888;
  padding-top: 10px;
  margin-bottom: 20px;
}

.content1,
.content1,
.content3,
.content4 {
  display: block;
  width: 25%;
  height: auto;
}

.content1 img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}

.content1 p {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding-top: 10px;
  text-align: justify;
}

.content2 li {
  font-size: 15px;
  color: #383838;
  list-style: none;
  text-decoration: none;
  margin-top: 20px;
}

.content3 li {
  font-size: 15px;
  color: #383838;
  list-style: none;
  text-decoration: none;
  margin-top: 20px;
}

.content2 a {
  color: #888;
  padding-left: 10px;
  text-decoration: none;
}

.content3 a {
  color: #888;
  padding-left: 10px;
  text-decoration: none;
}

.content2 h4 {
  color: #d35266;
  text-decoration: underline;
}

.content3 h4 {
  color: #d35266;
  text-decoration: underline;
}

.content4 a {
  color: #d35266;
  padding-left: 10px;
  text-decoration: none;
}

.content4 button {
  padding: 10px 10px;
  margin: 0 10px;
  border-radius: 5px;
}

.btn {
  color: #d35266;
  font-size: 20px;
  font-weight: bold;
  border-radius: 10px;
}

/* socials styling */

.socials {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
}

.copyright,
.connects {
  margin-top: 10px;
  margin-left: 10px;
}

.connects {
  padding-right: 10px;
}

.connects i {
  color: #888;
  margin-left: 20px;
}

@media screen and (max-width: 768px) {
  .aside-main {
    display: none;
  }

  .main-container {
    display: block;
    width: 100%;
  }

  .nav-right {
    display: none;
  }

  .nav-btn {
    display: none;
  }

  .navlogo img {
    margin-right: 130px;
  }

  .top-banner {
    display: none;
  }

  .showcase {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .container1 {
    flex-direction: column;
    margin: auto;
  }

  .content1 {
    margin: auto;
    width: 50%;
    font-size: 13px;
    padding: 5px;
    margin-top: 10px;
  }

  .socials {
    flex-direction: column;
    margin: auto;
  }

  .copyright {
    margin: auto;
    width: 70%;
    font-size: 13px;
    padding: 5px;
    margin-top: 10px;
  }

  .connects {
    margin: auto;
    width: 30%;
    font-size: 13px;
    padding: 5px;
    margin-top: 10px;
  }

  .content2 {
    margin: auto;
    width: 17%;
    font-size: 13px;
    padding: 5px;
    margin-top: 10px;
  }

  .content3 {
    margin: auto;
    width: 17%;
    font-size: 13px;
    padding: 5px;
    margin-top: 10px;
  }

  .content4 {
    margin: auto;
    width: 30%;
    font-size: 13px;
    padding: 5px;
    margin-top: 10px;
  }
}
